.focal-point-suggest-panel {
	&__help {
		margin-top: 0;
		color: #757575;
	}

	&__retry {
		margin-top: 8px;
	}

	.components-notice {
		margin: 0 0 12px;
	}

	.components-focal-point-picker-wrapper {
		margin-bottom: 12px;
	}
}
